name: test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  qc:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: prefix-dev/setup-pixi@v0
      - run: pixi run format
      - run: pixi run check
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: prefix-dev/setup-pixi@v0
      - shell: pixi run bash -e {0}
        run: |
          kisiac setup-config --non-interactive << EOF
          repo: .test/repo
          infrastructure_name: test-infra
          EOF
      - run: |
          # Create a fake block device
          head -c 10240 /dev/zero > /tmp/zeroes
          # Use it as a block device
          sudo losetup /dev/loop0 /tmp/zeroes
          # Remove the device
          sudo losetup -d /dev/loop0
      - shell: pixi run bash -e {0}
        run: |
          kisiac update-hosts --hosts localhost
